@font-face {
  font-family: 'AlienLeauge'; 
  src: local('AlienLeauge'), 
  url(./fonts/alienleague.ttf) format('truetype');
}

@font-face {
  font-family: 'NulShock';
  src: local('NulShock'), 
  url(./fonts/nulshock.ttf) format('truetype'); 
}

.Home {
  height: 100%;
}

.background-image {
  background-image: url(./img/mars.jpg); 
  margin: 0;
  background-size: cover;
  background-position: center center;
  background-blend-mode: color;
  overflow: hidden;
}

.container {
  position: static;
  width: 1000px;
  height: 800px;
  background-color: black; 
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: static;
  width: 900px ;
  height: 100px ; 
  background-color: black ; 

  font-family: AlienLeague;
  color: darkred; 
  text-align: center;  
  font-size: 75px;
  letter-spacing: 3px;
  word-spacing: 5px;
  padding: 50px;
  text-emphasis: bold;
}

@font-face {
  font-family: 'AlienLeauge'; 
  src: local('AlienLeauge'), url(./fonts/alienleague.ttf) format('truetype');
}

@font-face {
  font-family: 'NulShock';
  src: local('NulShock'), url(./fonts/nulshock.ttf) format('truetype'); 
}

.nav {
  position: static;         
  color: darkred; 
  font-family: NulShock;
  text-align: center; 
  font-size: 25px;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: inherit; 
  
  background-color: black;
}

.nav-links {
  font-size: 25px;
  position: static; 

  text-align: left; 
  text-decoration: none; 
  font-family: NulShock; 
  color: darkred; 
  padding: 5px;
}

nav a {
  font-size: 25px;
  position: static; 

  text-align: left; 
  text-decoration: none; 
  font-family: NulShock; 
  color: darkred; 
  padding: 5px;
}
            
nav a:link {
  color: darkred; 
}

nav a:visited {
  color: darkred;
}

nav a:hover {
  color: darkorange;
  background-color: black; ;
  border-radius: 5px;
  font-size: 30px; 
}

nav a:active {
  color: black;
  background-color: darkgoldenrod; ; 
  font-style: normal; 
}

article {
  position: static;
  width: 450px;
  height: 800px;
  float: right;  
  background-color: black;
   
  padding-left: 25px;
  padding-right: 25px;
  text-align: center; 
}
        
h1 {
  font-family: ASpace; 
  font-size: 25px;
  text-align: center; 
  float: right; 
  
  
  margin-right: 60px; 
  margin-top: 80px; 
  color: #B02D00; 
}

p {
  font-family: Helvetica;
  font-size: 20px;
  text-align: center; 
  float: right;
  
  margin-right: 25px;
  margin-top: 60px; 
  color: darkred; 
}

img {
  display: block;
  padding-top: 25px;
  margin: left; 
}

.photo {
  position: static;
  width: 450px;
  height: 730px;
  background-color: black; 
  float: left;

  overflow: auto;
  margin-top: 70px; 
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
}

