@font-face {
  font-family: 'AlienLeauge'; 
  src: local('AlienLeauge'), url(./fonts/alienleague.ttf) format('truetype');
}

@font-face {
  font-family: 'NulShock';
  src: local('NulShock'), url(./fonts/nulshock.ttf) format('truetype'); 
}

.App {
  text-align: center;
  background-image: url(./img/mars.jpg); 
  font-family: AlienLeague;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: static;
  width: 1000px;
  height: 800px;
  background-color: black; 
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: static;
  width: 900px ;
  height: 100px ; 
  background-color: black ; 

  font-family: AlienLeague;
  color: darkred; 
  text-align: center;  
  font-size: 75px;
  letter-spacing: 3px;
  word-spacing: 5px;
  padding: 50px;
  text-emphasis: bold;
}

@font-face {
  font-family: 'AlienLeauge'; 
  src: local('AlienLeauge'), url(./fonts/alienleague.ttf) format('truetype');
}

@font-face {
  font-family: 'NulShock';
  src: local('NulShock'), url(./fonts/nulshock.ttf) format('truetype'); 
}

.nav {
  position: static;         
  color: darkred; 
  font-family: NulShock;
  text-align: center; 
  font-size: 25px;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: inherit; 
  
  background-color: black;
}

.nav-links {
  font-size: 25px;
  position: static; 

  text-align: left; 
  text-decoration: none; 
  font-family: NulShock; 
  color: darkred; 
  padding: 5px;
}

article {
  position: static;
  width: 450px;
  height: 800px;
  float: right;  
  background-color: black;
   
  overflow: auto; 
  padding-left: 25px;
  padding-right: 25px;
  text-align: center; 
}
        
h1 {
  font-family: ASpace; 
  font-size: 25px;
  text-align: center; 
  float: right; 
  
  
  margin-right: 60px; 
  margin-top: 80px; 
  color: #B02D00; 
}

p {
  font-family: Helvetica;
  font-size: 20px;
  text-align: center; 
  float: right;
  
  margin-right: 25px;
  margin-top: 60px; 
  color: darkred; 
}

img {
  display: block;
  padding-top: 25px;
  margin: left; 
}

